/* ==========================================================================
   Searchbar
   ========================================================================== */
.searchbar {
  position: relative;
}
.searchbar-typeahead {
  position: relative;
}
.searchbar-typeahead-input.empty .searchbar-clear {
  display: none;
}
.searchbar-submit {
  width: 78px;
  height: 37px;
  padding: 0;
  border: 0;
  background: #ccc;
}
@media (min-width: 1366px) {
  .searchbar-submit {
    font-size: 18px;
  }
}
.searchbar-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  cursor: text;
}
@media (max-width: 1024px) {
  .searchbar-overlay.active {
    display: block;
  }
}
.searchbar-input {
  width: 100%;
  height: 37px;
  padding: 5px 16px;
  border: 0;
  border-radius: 0;
  background: none;
  font-size: 20px;
  -webkit-appearance: none;
}
@media (min-width: 1366px) {
  .searchbar-input {
    font-size: 22px;
  }
}
.searchbar-input:focus {
  outline: 0;
}
.searchbar-clear,
.searchbar-clear:hover {
  position: absolute;
  right: 10px;
  padding: 0 0 1px;
  width: 18px;
  height: 18px;
  background: $grey-cool;
  border-radius: 50%;
  color: $white;
  font-size: 13px;
  line-height: 0;
}
/* ==========================================================================
   Typeahead
   ========================================================================== */
.typeahead {
  width: 100%;
  height: 100%;
}
.tt-dropdown-menu {
  margin: 5px 0 0 1px;
  padding: 5px 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background-color: $white;
  box-shadow: 0 8px 10px rgba(0,0,0,0.4);
}
.tt-suggestion {
  padding: 0 16px;
}
.tt-suggestion a {
  display: block;
  margin-top: 0;
  height: 35px;
  padding: 9px 0 10px;
  color: $grey-medium;
  font-weight: 400;
  line-height: 1;
}
.tt-suggestion a > strong {
  color: $grey-dark;
}
.tt-suggestion a:hover {
  color: $blue-hover;
}
.tt-suggestion a:hover > strong {
  color: $blue-hover;
}
.tt-suggestion .tt-suggestion-cat {
  padding-left: 20px;
}
.tt-cursor {
  background-color: $grey-very-light;
}
