.product-recommendations .heading-a {
  margin: 20px 0 0 40px;
}
.pal-modal .common-recommendations .heading-a {
  font-size: 25px;
  font-weight: 600;
}
.product-recommendations .irs-holiday-banner {
  display: none;
}
.module-p13n-recommendations {
  background: $blue-light;
}
.module-p13n-recommendations .carousel-heading {
  display: inline-block;
  padding: 17px 0 10px 40px;
}
.module-p13n-recommendations .carousel-paginator-list {
  padding: 20px 0;
}
.module-p13n-recommendations .oos {
  margin-left: 2px;
  font-size: 10px;
  font-weight: 900;
  color: $grey-medium;
  vertical-align: 10px;
  text-transform: none;
}
.module-p13n-recommendations .oos-price {
  color: $grey-medium;
}
.module-p13n-recommendations .slick-slider {
  padding-bottom: 25px;
}
.module-p13n-recommendations ol.items {
  width: 100% !important;
}
.parent-item {
  float: left;
  margin: 25px 0 0 40px;
  padding: 10px 0 5px;
  vertical-align: top;
  width: 172px;
  background: repeat scroll 0 0 $white;
  border: 1px solid $grey-light;
  border-radius: 4px;
}
.parent-item .parent-heading {
  margin: -20px 0 20px;
  text-align: center;
}
.parent-item .tile {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
}
.parent-item .tile .flag {
  top: 5px;
}
.carousel-p13n .items>li .flyout-modal {
  margin-left: -3px;
  margin-bottom: 0px;
  padding: 6px;
  font-size: 14px;
}
.module-p13n-recentlyviewed {
  background: $blue-light;
  background-clip: content-box;
}
.module-p13n-recentlyviewed .carousel-heading {
  display: inline-block;
  padding: 17px 0 10px 40px;
}
.module-p13n-recentlyviewed .rvi-header,
.module-p13n-recentlyviewed .rvi-list {
  padding: 0 0 0 40px;
}
.module-p13n-recentlyviewed .rvi-list .rvi-tile {
  width: 100px;
  height: 100px;
  margin: 0 5px;
  border: 1px solid $blue-pale;
  border-radius: 4px;
}
.module-p13n-recentlyviewed .rvi-list .rvi-tile.current {
  border: 3px solid $green;
  border-radius: 4px;
}
.module-p13n-recentlyviewed .rvi-list .rvi-tile.current:before {
  content: "";
  position: absolute;
  top: 107px;
  left: 38px;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  box-shadow: 1px -1px 2px rgba(0,0,0,0.12);
  transform: rotate(133deg);
  background: $blue-light;
}
.module-p13n-recentlyviewed .rvi-list .rvi-tile.active {
  border: 2px solid $blue;
}
.module-p13n-recentlyviewed .rvi-list .rvi-product-name-bubble {
  padding: 10px;
}
.module-p13n-recentlyviewed .rvi-img {
  width: 75px;
  height: 75px;
}
.module-p13n-recentlyviewed .rvi-line {
  height: 1px;
  margin: 20px 0px 0px 0px;
  background: $grey-light;
}
.module-p13n-recentlyviewed .clear-list {
  padding: 25px 20px 0px 0px;
  cursor: pointer;
  font-weight: 600;
}
.module-p13n-recentlyviewed .rvi-norec {
  position: relative;
  overflow: hidden;
}
.module-p13n-recentlyviewed .rvi-norec-img {
  margin: 50px;
  padding: 20px 10px 20px 100px;
  float: left;
  width: 400px;
  height: 300px;
}
.module-p13n-recentlyviewed .rvi-norec-panel {
  margin: 120px 60px;
}
.module-p13n-recentlyviewed .rvi-norec-text {
  margin: 5px 10px 20px 5px;
  font-size: 18px;
}
.module-p13n-recentlyviewed .rvi-norec-url {
  color: $blue-tertiary;
}
.homepage .module-p13n-recommendations .heading-a {
  padding-top: 20px;
  margin: 20px 0 10px 40px;
  font-size: 25px;
}
.valueoftheday .module-p13n-recommendations .heading-a {
  padding-top: 20px;
  margin: 20px 0 10px 40px;
  font-size: 25px;
}
.category .module-p13n-recentlyviewed {
  margin-top: 30px;
}
.category .module-p13n-recentlyviewed .carousel-heading {
  margin: 0;
}
.product-page .irs-verytop .heading-a {
  padding-top: 0;
}
.product-page .irs-top-transition {
  transition: max-height 1.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.product-page .irs-top-transition.expanded {
  max-height: 425px;
}
.product-page .module-p13n-recommendations .carousel-loading .items {
  overflow: hidden;
  white-space: nowrap;
}
.product-page .module-p13n-recommendations .carousel-loading .items >li {
  display: inline-block;
  white-space: normal;
}
.product-page .irs-holiday .heading-a {
  padding-bottom: 20px;
}
.product-page .irs-holiday .irs-holiday-banner {
  display: block;
  float: right;
  font-size: 16px;
  font-weight: 600;
  margin-top: -47px;
  margin-right: 62%;
}
.product-page .irs-holiday .irs-hide-shop-now {
  display: none;
}
.product-page .irs-holiday .carousel.carousel-n-up {
  max-height: 0;
  transition: max-height 1.5s ease;
  overflow: hidden;
}
.product-page .irs-holiday .carousel.carousel-n-up.expanded {
  max-height: 300px;
  height: 300px;
}
.product-page .irs-holiday .carousel.carousel-n-up.expanded .carousel-paginator {
  transition: opacity 0.5s ease;
  transition-delay: 1.5s;
  opacity: 1;
}
.product-page .irs-holiday .irs-arrow-down,
.product-page .irs-holiday .irs-arrow-up {
  display: inline-block;
  width: 20px;
  height: 7px;
}
.product-page .irs-holiday .irs-arrow-up {
  background: url("/static/img/arrow-up.png") no-repeat;
}
.product-page .irs-holiday .irs-arrow-down {
  background: url("/static/img/arrow-down.png") no-repeat;
}
.product-page .irs-holiday .irs-holiday-ribbon-container {
  background: url("/static/img/recommendations/ribbon.png") no-repeat;
  width: 110%;
  height: 59px;
  margin-top: -65px;
}
.product-page .irs-holiday .hide-ribbon {
  background: none;
}
.top-product-recommendations .tile-heading {
  height: 36px;
}
.top-product-recommendations .expanded {
  height: auto;
}
.top-product-recommendations .animating {
  transition: height 0.4s ease;
}
