/* ==========================================================================
   Variables
   ========================================================================== */

$more-link ?= {
  color: $blue,
  hover: $blue-secondary
}


/* ==========================================================================
   Box Sizing
   ========================================================================== */

* {
  boxsizing();
}

/* ==========================================================================
   Typography
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: $grey-dark;
  font-family: $font;
}

/*
fix for third party sticky footer on firefox and IE
 */
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

.wf-loading:not(.lt-ie9) {
  h1, h2, h3, h4, h5, h6, p, ul, a, button {
    color: transparent !important;
  }

  ::-webkit-input-placeholder {
     color: transparent !important;
  }

  ::-moz-placeholder {
     color: transparent !important;
  }

  :-ms-input-placeholder {
    color: transparent !important;
  }
}

// Hides placeholder text immediately when focusing on the input,
// instead of when the user starts typing.
input:focus {
  &::-webkit-input-placeholder {
    color: transparent;
  }

  &:-moz-placeholder {
    color: transparent;
  }

  &::-moz-placeholder {
    color: transparent;
  }

  &:-ms-input-placeholder {
    color: transparent;
  }
}

/* ==========================================================================
   Sticky Footer
   ========================================================================== */
.main-html-body {
  height: 100%;
}

.page-wrapper {
  min-height: 100%;

  &:after {
    content: "";
    display: block;
  }
}

.foot {
  visibility: hidden;
}

.footer-visible {
  visibility: visible;
}

/*!
Headings

We use six primary heading styles, which correspond to `.heading-` classes
`a` &ndash; `f`.

Use heading elements `h1` &ndash; `h6` to write markup based on structure,
not style. Avoid skipping heading levels when marking up content. Content
headed by an `h3` should be within content headed by an `h2`.

Add a `.heading-` class to style the element based on the design. In the
example below, each heading is an `h6` element to demonstrate that styling
is based on class, not HTML tag.

For more information, see
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements.

Styleguide 6.1
*/

$heading {
  color: $black;
  font-weight: 600;
}

.heading-a {
  @extend $heading;

  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-b {
  @extend $heading;

  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading-c {
  @extend $heading;

  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.heading-d {
  @extend $heading;

  font-size: 20px;
  letter-spacing: -0.02em;
}

.heading-e {
  @extend $heading;

  font-size: 16px;
  letter-spacing: 0;
}

.heading-f {
  @extend $heading;

  font-size: 15px;
  letter-spacing: 0;
}

h1 {
  @extend .heading-a;
}

h2 {
  @extend .heading-b;
}

h3 {
  @extend .heading-d;
}

h4 {
  @extend .heading-e;
}

h5 {
  @extend .heading-f;
}

/*!
Body Text

.copy-open-leading - Open leading
.copy-small - Small body text
.copy-mini - Mini body text

Styleguide 6.2
*/

.copy-small {
  font-size: 14px;
}

.copy-mini {
  font-size: 12px;
}

.copy-open-leading {
  line-height: 1.625;
}

.copy-narrow-leading {
  line-height: 1.2;
}

.copy-unformatted {
  p,
  ul,
  ol {
    margin: 0 !important;
    padding: 0 !important;
  }

  li {
    display: block;
  }
}

/*!
Font Weights

We use 4 primary font weights.
Which correspond to `.font-light`, `.font-normal`
,`font-semibold` &amp; `.font-bold` classes.

<table class="guide-table">
 <tbody>
   <tr>
     <td style="font-weight: 300;">Light</td>
     <td style="font-weight: 400;">Normal</td>
     <td style="font-weight: 600;">Semibold</td>
     <td style="font-weight: 700;">Bold</td>
   </tr>
   <tr>
    <td><code>300</code><br /><code>.font-light</code></td>
     <td><code>400</code><br /><code>.font-normal</code></td>
     <td><code>600</code><br /><code>.font-semibold</code></td>
     <td><code>700</code><br /><code>.font-bold</code></td>
   </tr>
 </tbody>
</table>

Styleguide 6.3
*/

/*!
Links

Styleguide 6.4
*/

$standard-link-color ?= {
  text: #333,
  text-hover: #555
}

$standard-link {
  color: $standard-link-color.text;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $standard-link-color.text-hover;
  }
}

a {
  @extend $standard-link;
}

$more-link {
  font-size: 14px;
  font-weight: 600;

  &:after {
    content: "";
    position: relative;
    top: 1px;

    display: inline-block;
    margin-left: 8px;
    border: 4px solid transparent;
    border-top-color: $more-link.color;

    vertical-align: middle;
  }

  &:hover:after {
    border-top-color: $more-link.hover;
  }
}

.more-link {
  @extend $more-link;
}

.arrow-link {
  &:after {
    content: "";

    display: inline-block;
    margin-left: 10px;
    border: 4px solid transparent;
    border-left-color: $blue;

    transition: 0.3s ease transform;
    transform-origin: 2px 4px;
    vertical-align: middle;
  }

  &:hover:after {
    border-left-color: $blue-secondary;
  }

  &.active:after {
    transform: rotate(90deg);

    .no-csstransforms & {
      border-top-color: $blue-secondary;
      border-left-color: transparent;
    }
  }
}

.arrow-link-before {
  &:before {
    content: "";

    display: inline-block;
    margin-right: 10px;
    border: 4px solid transparent;
    border-right-color: $black;

    transition: 0.3s ease transform;
    transform-origin: 2px 4px;
    vertical-align: middle;
  }

  &:hover:before {
    border-right-color: $blue-secondary;
  }

  &.active:before {
    transform: rotate(90deg);

    .no-csstransforms & {
      border-top-color: $blue-secondary;
      border-right-color: transparent;
    }
  }
}

/* ==========================================================================
   Vertical Margins and Modules
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
p,
figure,
pre,
table,
fieldset,
hr,
blockquote {
  margin: 24px 0 0;

  .copy-small & {
    margin: 21px 0 0;
  }

  .copy-mini & {
    margin: 18px 0 0;
  }

  .copy-open-leading & {
    margin: 26px 0 0;
  }
}

.module > *:first-child {
  margin-top: 0;
}

/*!
Images

Deprecated: These classes are deprecated. Do not use in old or new projects.
Pages using it may break at any time.

You should use `width` and `height` attributes on `img` in your HTML.
Torbit delivers correctly resized images based on those attributes if you
use them.

Common images widths include:

<table class="guide-table">
 <tbody>
   <tr>
     <td>30px</td>
     <td><code>img-30</code></td>
   </tr>
   <tr>
     <td>45px</td>
     <td><code>img-45</code></td>
   </tr>
   <tr>
     <td>50px</td>
     <td><code>img-50</code></td>
   </tr>
   <tr>
     <td>60px</td>
     <td><code>img-60</code></td>
   </tr>
   <tr>
     <td>100px</td>
     <td><code>img-100</code></td>
   </tr>
   <tr>
     <td>125px</td>
     <td><code>img-125</code></td>
   </tr>
   <tr>
     <td>150px</td>
     <td><code>img-150</code></td>
   </tr>
   <tr>
     <td>180px</td>
     <td><code>img-180</code></td>
   </tr>
   <tr>
     <td>300px</td>
     <td><code>img-300</code></td>
   </tr>
   <tr>
     <td>450px</td>
     <td><code>img-450</code></td>
   </tr>
   <tr>
     <td>2000px</td>
     <td><code>img-2000</code></td>
   </tr>
 </tbody>
</table>

Styleguide 6.5
*/

img {
  max-width: 100%;
}

$img {
  width: 100%;
  height: auto;
}

$img-widths = 30, 45, 50, 55, 60, 100, 125, 150, 180, 300, 450, 2000;

for $width in $img-widths {
  .img-{$width} {
    @extend $img;
    img-hide-alt();

    width: unit($width, "px");
    height: @width;
  }
}

/* ==========================================================================
   Placeholder Text
   ========================================================================== */

$placeholder = #a9a9a9;

::-webkit-input-placeholder {
   color: $placeholder;
}

::-moz-placeholder {
   color: $placeholder;
   opacity: 1;
}

:-ms-input-placeholder {
  color: $placeholder;
}

::-ms-clear {
    display: none;
}

input.placeholder {
  color: $placeholder;
}

/*!
Description Lists

.dl-emphasize - Variant with bold `dt` elements.
.dl-horizontal - Horizontal variant.
.dl-horizontal.copy-small.dl-emphasize - Small emphasized variants.
.dl-horizontal.copy-mini - Mini variant.

Styleguide 6.6
*/

dl {
  dt {
    overflow: hidden;
    white-space: nowrap;
  }
  dd {
    margin-left: 10px;
  }

  &.dl-horizontal {
    $dt-spacing = 100px;

    dt {
      float: left;
      clear: left;

      width: $dt-spacing;

      text-overflow: ellipsis;
    }

    dd {
      margin-left: $dt-spacing;
    }

    &.copy-small {
      $dt-spacing = 80px;

      dt {
        width: $dt-spacing;
      }
      dd {
        margin-left: $dt-spacing;
      }
    }

    &.copy-mini {
      $dt-spacing = 60px;

      dt {
        width: $dt-spacing;
      }
      dd {
        margin-left: $dt-spacing;
      }
    }
  }

  &.dl-emphasize {
    dt {
      font-weight: bold;
    }
  }
}

/* ==========================================================================
   Misc
   ========================================================================== */
button {
  cursor: pointer;
}

.zone:hover area {
  outline: none;
}

.server-stack-trace {
    padding: 8px;

    pre {
        font-size: 12px;
        font-family: Consolas, courier, monospace;
    }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

td, th {
  text-align: inherit;
}
